.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
/df_sql.csv
/df_sql_original.csv
/tmp/
*.DS_Store
*.pyc
*.ipynb_checkpoints
.DS_Store
*.joblib
